body {
    background-size: 100% auto;
    background-color: #FAFAFA;
    border: 1px solid black;
    font-family: Dosis, sans-serif;
    padding: 0;
    margin: 0;
    border: 0;
}

h1 {
    font-size: 36px;
    padding-left: 10px;
}

.blended_grid {
    display: block;
    width: 900px;
    overflow: auto;
    margin: 30px auto 0 auto;
    border: 1px solid black;
}

.pageHeader1 {
    float: left;
    clear: none;
    height: 40px;
    width: inherit;
    padding-left: 2px;
    border: 1px solid black;
    font-size: 20px;
}

.pageHeader2 {
    float: left;
    clear: none;
    height: 40px;
    width: inherit;
    padding-left: 7px;
    border: 1px solid black;
    font-size: 20px;
}

.cart {
    float: right;
    clear: none;
    height: 35px;
    width: 100px;
    margin: 3px 14px 3px 3px;
    border: 1px solid black;
    font-size: 18px;
}

.pageLeftMenu {
    float: left;
    clear: none;
    margin: 0;
    padding: 0;
    height: 500px;
    width: 15%;
    border: 1px solid black;
    font-size: 20px;
}

.sections {
    text-align: left;
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 5px;
    margin: 1px;
    text-decoration: none;
}

li {
    list-style-type: none;
    padding: 5px;
    margin: 1px;
}

li>a {
    list-style-type: none;
    text-decoration: none;
}

ul>a {
    background: #CCCCCC;
    text-decoration: none;
}

.italic {
    font-style: italic;
}

.pageContent {
    float: left;
    clear: none;
    height: 500px;
    width: 84.5%;
    border: 1px solid black;
}

.container {
    width: 100%;
}

.pageFooter {
    height: 40px;
    width: 900px;
    margin-left: 267px;
    border: 1.5px solid black;
}
